openapi: 3.0.3
info:
  title: 'MiSalud Organizations Api:'
  version: 0.0.1
security:
   - Authorization: []
   - OAuth2: []
paths:
  /organizations/{organization_id}/users:
    post:
      security:
        - Authorization: []
        - OAuth2: []
      operationId: create-org-user
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: "#/components/schemas/User"
        description: Create user for a organization.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/User"
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      tags:
        - users
  /organizations/{organization_id}/users/{user_id} :
    delete:
      security:
        - Authorization: []
        - OAuth2: []
      operationId: cancel-user-subscription
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
        - in: path
          name: user_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      tags:
        - users
  /organizations/{organization_id}/users/{user_id}/phone-only :
    patch:
      security:
        - Authorization: []
        - OAuth2: []
      operationId: update-org-user-phone-only
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
        - in: path
          name: user_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: "#/components/schemas/UserPhoneOnly"
        description: Update phone number for user in organization.
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      tags:
        - users
  /organizations/{organization_id}/users/{user_id}/resend-postregistration:
    post:
      security:
        - Authorization: []
        - OAuth2: []
      operationId: send-post-registration-sms
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
        - in: path
          name: user_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '409':
          description: Conflict  
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      tags:
        - users
  /oauth2/v1/token:
    get:
      servers: 
        - url: https://auth.sandbox.misalud.ai
      security: []
      parameters:
        - in: query
          name: grant_type
          required: true
          schema: 
            type: string
          example: client_credentials
        - in: query
          name: client_id
          required: true
          schema: 
            type: string
        - in: query
          name: client_secret
          required: true
          schema: 
            type: string
      operationId: oauth0-token
      responses:
        '200':
          description: OK
        '409':
          description: Conflict  
        '401':
          $ref: '#/components/responses/UnauthorizedError'

servers:
  - url: https://api.sandbox.misalud.ai/api/v1

components:
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer 
      bearerFormat: JWT
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.sandbox.misalud.ai//oauth2/v1/token                           
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        familyName:
          type: string
        email:
          type: string
        address:
          type: object
          $ref: "#/components/schemas/Address"
        phoneNumber:
          type: string
          description: phone number without country code
        countryCode:
          type: string
          description: country code alpha 2 code (2 digits)
          example: US
        sex:
          type: string
        birthdate:
          type: string
        externalId:
          type: string
        familyPlanId: 
          type: string
        metadata:
          type: object
          $ref: "#/components/schemas/Metadata"
    Address: 
      type: object
      properties:
        city: 
          type: string
        country: 
          type: string
          description: country code alpha 2 code (2 digits)
          example: US
        state: 
          type: string
          description: state name
          example: California
        zipCode: 
          type: string
    Metadata: 
      type: object
      properties:
        familyName: 
          type: string
        planDuration: 
          type: string
        nationality: 
          type: string
        loanId: 
          type: string
        partnerFacilityPostalCode: 
          type: string
        partnerFacilityId: 
          type: string
    UserPhoneOnly:
      type: object
      properties:
        phoneNumber:
          type: string
          description: phone number without country code
        countryCode:
          type: string
          description: country code alpha 2 code (2 digits)
          example: US
